<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="githubのアカウントを使用したシューティングゲーム">

    <meta name = "apple-mobile-web-app-copable" content = "yes">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "black-translucent">
    <meta name="copyright" content="&copy; hyde2able">
    <meta name="author" content="hyde2able">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>FireCommits</title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/primer.css">
    <link rel="stylesheet" type="text/css" href="css/icomoon/style.css">

    <!--&#91;if lt IE 9&#93;>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!&#91;endif&#93;-->

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/enchant.js"></script> 
    <script type="text/javascript" src="js/game.js"></script>
</head>


<body>
<div class="container">
    <div class="columns">
    	<div class="column three-fourth centered contents">
    		<h1>FireCommits</h1>
    		<div class="columns">

	    		<div class="three-fourths column">
    				<div class="game">
    					<div id="enchant-stage"></div>
    				</div>
    			</div>

    			<div class="one-fourth column">
    				<form method="get" action="/">
    					<input type="text" class="username "name="username" placeholder="Search GitHub" class="input-contrast" size="15">
    					<button type="submit" class="btn btn-primary">Search</button>
    				</form>

    				<% if(ok) { %>
    					<% count = Number(count.replace(/[^0-9^\.]/g,"")); %>
    					<div class="blankslate">
    						<img class="avatar left" src="<%= image %>" width="40" height="40">
    						<p><%= name %> <br> <span class="counter"><%= count %> total</span></p>
    					</div>
    				<% } %>

    				<div class="">
    					<ul class="circle_group clearfix">
    						<li class="sns_circle facebook"><span class="icon-facebook"></span><a href="#"></a></li>
    						<li class="sns_circle twitter"><span class="icon-twitter"></span><a href="#"></a></li>
    						<li class="sns_circle hatebu"><span class="icon-hatebu"></span><a href="#"></a></li>
    						<li class="sns_circle github"><img src="images/github.png"><a href="#"></a></li>
						</ul>
    				<div>
	    		</div>

	    	</div>
	    </div>



    	<div style="display:none;">
    		<% if(ok){ %>
    			<div class="contributions"><%=  contributions %></div>
    			<div class="image"><%= image %></div>
    			<div class="count"><%= count %></div>
    		<% } %>
    	</div>

    </div>
</div>
</body>
</html>

